<!DOCTYPE html>
<html lang="en">
<head>s
    <meta charset="UTF-8">
    <title>留言板</title>
    <script src="lib/vue.js"></script>
    <script src="lib/jquery-1.7.2.js"></script>
    <script src="lib/bootstrap.js"></script>
    <link href="lib/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <form role="form">
            <div class="form-group">
                <label for="username">username: </label>
                <input type="text" id="username" name="username" class="form-control" placeholder="please entry username..." v-model="username">
            </div>

            <div class="form-group">
                <label for="username">age: </label>
                <input type="text" id="age" name="age" class="form-control" placeholder="please entry age..." v-model="age">
            </div>

            <div class="form-group">
                <input type="button" value="add" class="btn btn-primary" v-on:click="add()">
                <input type="button" value="reset" class="btn btn-default">
            </div>
        </form>

        <hr>

        <table class="table table-bordered table-hover">
            <caption class="h2">user info table</caption>
            <tr>
                <th>number</th>
                <th>username</th>
                <th>age</th>
                <th>operate</th>
            </tr>

            <tr class="text-center" v-for="(u,index) in users">
                <td>{{ index + 1 }} </td>
                <td>{{ u.username }}</td>
                <td>{{ u.age }}</td>
                <td>
                    <button class="btn btn-primary btn-sm" data-target="#layer" data-toggle="modal" v-on:click="nowIndex=index">delete</button>
                </td>
            </tr>

            <tr v-show="users.length != 0">
                <td colspan="4" class="text-right">
                    <button class="btn btn-danger btn-sm" data-target="#layer" data-toggle="modal" v-on:click="nowIndex=-2">delete all</button>
                </td>

            </tr>

            <tr v-show="users.length == 0">
                <td colspan="4" class="text-center text-muted">
                    no data available...
                </td>
            </tr>

            <div role="dialog" class="modal fade bs-example-modal-sm" id="layer">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                            <h4 class="modal-title">Confirm delete?</h4>
                        </div>
                        <div class="modal-body text-right">
                            <button data-dismiss="modal" class="btn btn-primary btn-sm">cancel</button>
                            <button data-dismiss="modal" class="btn btn-danger btn-sm" v-on:click="deleteUser(nowIndex)">sure</button>
                        </div>
                    </div>
                </div>
            </div>
        </table>
    </div>



<script>
    var vm = new Vue(
        {
            el: ".container",
            data:{
                username: "",
                age: "",
                users: [],
                nowIndex: -1
            },
            methods:{

              add:function(){
                  this.users.push({
                      username: this.username,
                      age: this.age
                  });
              },
              deleteUser: function(index){
                  // delete all when index = -2
                  if(index === -2){
                      this.users = []
                  }else{
                      this.users.splice(index, 1);
                  }

              }
            }
        }
    );


</script>



</body>
</html>